@{
  Layout = "_Layout";
}

@using HairSalon.Models;
<div class = "container jumbotron">
<p><h1>@Model["Stylist"].name</h1></p>
</div>
Clients :
 @foreach(var client in @Model["Client"])
 {
 <ul>
  <li>@client.clientName</li>
  </ul>
 }
</br>
</br>
</br>

Specialty :
<form action='/stylists/@Model["Stylist"].id/addSpecialty' method='post'>
   <select name='specialties'>

    @foreach (var specialty in @Model["Specialties"])
    {
      <option  value=@specialty.id>@specialty.description</option>
    }
  </select>
  <button type='submit'>Add Specialty</button>


  @foreach(var specialty in @Model["Specialty"])
  {
  <ul>
    <li>@specialty.description</li>
  </ul>
  }
<p><a href = "/clients/add">Add a client</a> | <a href = "/specialties">Back to Specialties</a> | <a href="/stylists">Back to Stylists</a> | <a href="/">Back to Home Page</a></p>
